/*Logo*/
.logo {
  display: flex;
  justify-content: center;
/*margin: 0 auto;*/
/*width: 100%;*/

}
/*Logo*/

/*Start of nav*/
ul {
  list-style: none;
  padding: 0;
  color: #996600;
}

nav:before, nav:after {
  content: "";
  border: 1px solid #996600;
  width: 35%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}

nav li:hover{
  color: white;
  background-color: #996600;
}
/*End of nav*/

/*Start of banner*/
.banner{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 30px;
}
/*End of banner*/

/*Start of footer*/
.row{
  background-color: #996600;
  color: white;
  width: 101%;
}
.row p{
  padding-top: 5%;
}
.row3{
  padding: 20px;
}
/*End of footer*/
